<h3>상세내용-(<%=@board.ip_address%>)</h3>
<div class="card">
  <div class="card-body">
      <%=@board.contents%>
  </div>
</div>
<br/>
<a class="btn btn-dark" href="/index">돌아가기</a>
<a class="btn btn-dark" href="/destroy/<%=@board.id%>">삭제하기</a>
<a class="btn btn-dark" href="/update/<%=@board.id%>">수정하기</a>